USE [master]
GO
/****** Object:  Database [IPmesajlasma]    Script Date: 9.08.2023 14:58:21 ******/
CREATE DATABASE [IPmesajlasma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IPmesajlasma', FILENAME = N'C:\Program Files\Microsoft SQL Server 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\IPmesajlasma.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IPmesajlasma_log', FILENAME = N'C:\Program Files\Microsoft SQL Server 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\IPmesajlasma_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPmesajlasma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IPmesajlasma]
GO
/****** Object:  Table [dbo].[IPmesajlasma]    Script Date: 9.08.2023 14:58:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPmesajlasma](
	[IPAddress] [nvarchar](45) NOT NULL,
	[PcAdi] [varchar](50) NULL,
 CONSTRAINT [PK_IPmesajlasma] PRIMARY KEY CLUSTERED 
(
	[IPAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesaj]    Script Date: 9.08.2023 14:58:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesaj](
	[PcAdi] [varchar](50) NOT NULL,
	[mesaj] [varchar](200) NULL,
 CONSTRAINT [PK_Mesaj] PRIMARY KEY CLUSTERED 
(
	[PcAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[IPmesajlasma] ([IPAddress], [PcAdi]) VALUES (N'192.168.1.112', N'LAPTOP-6SP56EO4')
GO
USE [master]
GO
